.Weather{
color: black;
font-family: 'Poppins', sans-serif;
line-height: normal;
padding: 20px 15px;
border: 1px solid #dadde1;
border-radius: 6px;
}

.Weather .two{
    margin:0 10px;
}

.Weather .col-6{
    margin-top: 20px;
    padding: 12px;
}

.Weather .cityData {
    text-align: right;
}

.Weather .propertiesList {
    text-align: left;
    padding: 0px;
    margin-top: 28px;
}

.Weather h1 {
    font-size: 28px;
}

.Weather .date{
    list-style: none;
    font-size: 18px;
}

.Weather p{
    display: inline;
    font-size: 28px;
}
    

.Weather span{
    font-size: 28px;
    margin-right: 12px;

}
.Weather ul{
    list-style: none;  
    text-transform: capitalize;
    margin: 5px 12px 0 0;
    
}

.Weather .description{
    list-style: none;
    text-align: right;
    margin: 10px 12px 0 0;
}
