.WeatherForecast {
    text-align: center;
    margin: 15px 0;
    padding: 0px;

}

.WeatherForecast .forecastDays {
    font-size: 18px;
    font-weight: 500;
}


.WeatherForecast .col-2 {
    display: block;
    padding: 0;
}

.WeatherForecast .maxTemperature {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.WeatherForecast .minTemperature {
    font-size: 14px;
    font-weight: 400;
    margin: 0;

}